body {
    font-size: 0.9rem;
}

/* SIDEBAR */
.sidebar {
    height: 100vh;
    width: 250px;
    transition: all .3s;
}

.sidebar {
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 !important;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

/* Hide text when collapsed */
.sidebar.collapsed .nav-link span {
    display: none;
}

/* Center icons when collapsed */
.sidebar.collapsed .nav-link {
    justify-content: center;
}

/* CONTENT WRAPPER */
.content-wrapper {
    margin-left: 250px;
    transition: all .3s;
}
.content-wrapper.expanded {
    margin-left: 80px;
}
